
@{
    ViewData["Title"] = "Thank You";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- Import external CSS file -->
    <link rel="stylesheet" href="~/css/thankyou.css" asp-append-version="true" />

    <!-- Other head elements go here -->
</head>
<body>
    <div class=thankyouconten>
        <div class="wrappe-11">
            <div class="wrappe-22">

                <h1>Thank you!</h1>
                <p>for contacting us, we will reply promptly</p>
                <p>once your message is received. </p>
                <button class="go-home">
                    <a asp-action="Index">
                        Go To Home
                    </a>
                </button>
            </div>


        </div>
        </div>
</body>
</html>